
<!DOCTYPE html> <!--　この文章がHTML文章であることを伝える要素です。-->
<html lang="ja"> <!--言語の指定-->
  <head> <!--ページに表示されない情報(サイトの裏側の設定)-->
    <meta charset="utf-8">
    <title>山田</title> <!--ブラウザのタブのタイトルを指定-->
  </head>
  <body> <!--ページの見た目を作る部分-->

  <div id="top_navi"><div class="area">
        <div id="navi">
            <div class="bt"><a href="../kawasofts/index.html"><img src="images/navi/navi_top.png" alt="トップ" class="bt_text"></a></div>
            <div class="bt"><a href="story.html"><img src="images/navi/navi_story.png" alt="物語" class="bt_text"></a></div>
            <div class="bt"><a href="character.html"><img src="images/navi/navi_character.png" alt="キャラクター" class="bt_text"></a></div>
            <div class="bt"><a href="special.html"><img src="images/navi/navi_special.png" alt="スペシャル" class="bt_text"></a></div>
            <div class="bt"><a href="../reviews/index.html"><img src="images/navi/navi_product.png" alt="製品情報" class="bt_text"></a></div>
            <div class="navi_sns">
                  <div class="twitter"><a href="http://twitter.com/share?text=PS4/PS Vita「花咲ワークスプリング！」公式サイト &url=http://www.entergram.co.jp/hanasaki/&hashtags=エンターグラム,花咲ワークスプリング" onClick="window.open(encodeURI(decodeURI(this.href)), 'tweetwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;" rel="nofollow"><img src="/assets/header/tw_bt.png" alt="ツイートする"></a></div>
                  <div class="facebook"><a href="http://www.facebook.com/share.php?u=http://www.entergram.co.jp/hanasaki/" onClick="window.open(encodeURI(decodeURI(this.href)), 'facebookwindow', 'width=650, height=470, personalbar=0, toolbar=0, scrollbars=1, sizable=1'); return false;"><img src="/assets/header/fb_bt.png" alt="facebookでシェア"></a></div>
                  <div class="line"><a href="https://lineit.line.me/share/ui?url=http://www.entergram.co.jp/hanasaki/" onclick="window.open(this.href,'TWwindow','width=503,height=510,menubar=no,toolbar=no,scrollbars=yes');return false;" target="_blank" class="share_line"><img src="/assets/header/line_bt.png" alt="LINEで送る"></a></div>
            </div>
		</div>
    </div></div>
 
  
  
  
  

  <div>感想一覧</div>
  <%= link_to "新規投稿へ", :controller => "reviews", :action => "new" %>
  
  <%= page_entries_info @review %>
  <div class="tweets-container">
    <% @review.each do |t| %>
      <div class="review">
        <%= t.title %>
        <%= t.penname %>
        <%= link_to "詳細へ", review_path(t.id) %>
      </div>
  <div>総合評価：
  <span class="star-rating">
     <span class="star-rating-front" style="width: <%= getPercent(t.star) %>%;">★★★★★</span>
     <span class="star-rating-back">★★★★★</span>
  </span> 
  </div>

  
  
    <% end %>
  <%= paginate @review %>
  </div>
  
  </body>
</html>

